.feature-page-icon-img {
  width: 40px; /* Adjust size based on your icon's original size */
  height: 40px;
  object-fit: contain;
  border-radius: 0.5rem;
}

.icon-box {
  width: 48px;
  height: 48px;
  border-radius: 10px; /* Gives that soft rounded look from your image */
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-page-container {
  background-color: white;
  padding: 1.5rem; /* Adjusted padding for better balance */
  padding-top: 6rem;
  padding-bottom: 6rem;

  /* Grid Setup */
  display: grid;
  /* Creates 4 equal columns on large screens */
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
  margin: 0 auto;
}

.feature-page-card {
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-page-title {
  font-family: var(--roundFont);
  font-size: 1.3rem;
}

.feature-page-text {
  font-family: var(--roundFont);
  font-size: 1.05rem;
}
