.site-footer {
  background-color: var(--footerBackgroundColor);
  padding: 3rem;
  padding-bottom: 0;
}

.footer-top {
  /* styles will go here */
}

/* Newsletter */
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-newsletter-text {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--roundFont);
}

.footer-newsletter-form {
  border: 1px solid black;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  position: relative;
}

.footer-newsletter-input {
  border: none;
  outline: none;
  width: 80%;
}

.footer-newsletter-subtext {
  font-size: 0.8rem;
  font-family: var(--roundFont);
  line-height: 1.6rem;
}

.footer-newsletter-btn {
  border: 1px solid black;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-newsletter-icon {
  width: 1rem;
}

/* Footer Links */
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.footer-links-left {
  /* styles will go here */
}

.footer-links-right {
  /* styles will go here */
}

.footer-links-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--roundFont);
}

.footer-link {
  text-decoration: none;
  font-family: var(--roundFont);
  color: black;
  font-size: 1rem;
}

.footer-links-title {
  color: var(--HeavypurpleColor);
  text-transform: uppercase;
  margin-top: 3rem;
  font-size: 0.7rem;
}

.footer-links-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.1rem;
  text-decoration: none;
}

.footer-links-list {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-family: var(--roundFont);
}

/* Footer Bottom */
.footer-bottom {
  /* styles will go here */
}

.footer-brand {
  font-size: 35vw;
  text-align: center;
  color: var(--purpleColor);
}

@media screen and (min-width: 1024px) {
  .footer-newsletter-form {
    width: 40%;
  }
}
