.site-footer {
  background-color: var(--footerBackgroundColor);
  padding: 1.5rem;
}

.footer-top {
  /* styles will go here */
}

/* Newsletter */
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-newsletter-text {
  font-weight: 500;
  font-size: 1.5rem;
}

.footer-newsletter-form {
  border: 1px solid black;
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  border-radius: 3rem;
  position: relative;
}

.footer-newsletter-input {
  border: none;
  outline: none;
}

.footer-newsletter-btn {
  border: 1px solid black;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 0.3rem;
  cursor: pointer;
}

.footer-newsletter-icon {
  width: 0.7rem;
}

/* Footer Links */
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.footer-links-left {
  /* styles will go here */
}

.footer-links-right {
  /* styles will go here */
}

.footer-links-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links-title {
  color: var(--purpleColor);
  text-transform: uppercase;
  margin-top: 2rem;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.8rem;
}

.footer-links-list li {
  /* styles will go here */
}

/* Footer Bottom */
.footer-bottom {
  /* styles will go here */
}

.footer-brand {
  font-size: 35vw;
  text-align: center;
  color: var(--purpleColor);
}
