.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 10px solid red;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-left {
  border: 10px solid rgb(30, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header-right {
  border: 10px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.brand-name {
  font-size: 1.2rem;
  cursor: pointer;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.icon-button img {
  width: 2rem;
}

.hamburger {
  cursor: pointer;
}

.user-icon {
  cursor: pointer;
}

.shopping-bag {
  cursor: pointer;
}

.header-nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
}

.header-nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.close-icon {
  width: 1.5rem;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}
