.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 10px solid red; */
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  background-color: var(--headerBackgroundColor);
}

.header-left {
  /* border: 10px solid rgb(30, 255, 0); */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header-right {
  /* border: 10px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.brand-name {
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: var(--uniqueFont);
}

.brand-name:hover {
  color: black;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.icon-button img {
  width: 2rem;
}

.hamburger {
  cursor: pointer;
}

.user-icon {
  cursor: pointer;
}

.shopping-bag {
  cursor: pointer;
}

.header-nav-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--LightpurpleColor);
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
}

.header-nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.close-icon {
  width: 1.5rem;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

/* Ensure the wrapper is the anchor point */
.auth-hover-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header-auth-links {
  position: absolute;
  top: 130%; /* Positions it right below the user icon */
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--LightpurpleColor);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds depth */
  z-index: 10;
  min-width: 120px;
}

.header-auth-links a {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--roundFont);
}

.cart-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
