* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

:root {
  --footerBackgroundColor: rgb(224, 190, 255);
  --purpleColor: rgb(205, 152, 255);
  --LightpurpleColor: rgb(250, 240, 255);
  --HeavypurpleColor: rgb(175, 90, 255);
  --roundFont: "Google Sans", sans-serif;
  --lighterPurpleColor: rgb(231, 194, 255);
  --softgreen: rgb(223, 255, 223);
  --softpink: rgb(255, 220, 226);
  --softblue: rgb(173, 243, 255);
  --softyellow: rgb(255, 249, 196);
  --headerBackgroundColor: rgba(255, 255, 255, 0.304);
}
